
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-family: "Arial", Helvetica, Arial, Sans-serif; 
    /* Set all font in the page to Helvetica with font formating */
	font-size: 100%; 
    /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
	line-height: 1.7em; 
     /* The line-height property in CSS controls the space between lines of text. 
        It is often set in a unitless value (e.g. line-height: 1.4; ) */
	color: #000000; /* Hex Color Black */
    background-color:#FCFAF6;
    
}

img {
    border-radius: 288.5px;
    width: 400px;
    height: 300px;
}

#content #slogan p {
    font-family: "arial";
    text-align: center;
}

#content #fbicon img {
    border-radius: 20px;
    width:40px;
    height:40px;
    position:relative;
    left:100px;
    float:inline-end;
}

#content #fbicon p {
    text-align: left;
}

#moreaboutus img {
    border-radius: 10px;
    width:60px;
    height:40px;
}

.logo {
    position: absolute;
    width: 121px;
    height: 128px;
    left: 12px;
    top: 11px;

    background: url(logo.png);
}

.icecrema {

    background: url(images/icecrema.png);
    border-radius: 150px;
}

.cupcake {
    

    background: url(images/cupcake.png);
    border-radius: 288.5px;
    
}

.morecupcake {
   

    background: url(images/morecupcake.png);
    border-radius: 110px;
}

#top_row h1 {
    color:#FCFAF6;
	font-size: 3.75em; /* http://pxtoem.com/ */
    font-family: "Baskerville", Helvetica, Arial, Sans-serif; 
    clear:both;
}

a {
	color: #751c1c;
	text-decoration: none;
}

a:visited {
    color:#1c2c75;
    text-decoration: none;
}

a:hover {
	color: #0F4970;
	text-decoration: underline;
}

#ourstorydesc h2 {
    font-family:"baskerville";
    text-align:center;
}

#ourstorydesc {
    border-bottom: 2px dotted #000000;
    font-family: 'Arial';
    text-align:center;
}

#displayinline {
    display:inline-block;
}

#ourstorydesc p {
    text-align: left;
}

#ourlittlefactory h2{
    font-family:"baskerville";
    text-align: center;
}

#ourlittlefactory h2 span {
    border:solid;
    padding:10px;
    border-radius:25px
}

#ourlittlefactory {
    border-bottom: 2px dotted #000000;
    font-family:"Arial";
    text-align:center;
}

#ourlittlefactory p {
    text-align:left;
}

#moreaboutus h2{
    font-family:"baskerville";
    text-align: center;
}

#moreaboutus h2 span {
    border:solid;
    padding:10px;
    border-radius:25px
}

#moreaboutus {
    font-family:"Arial";
    text-align:center;
}

#moreaboutus p {
    text-align:left;
}

#top_row nav {
    font-family: "Baskerville", Helvetica, Arial, sans-serif;
	float: right;

}


#top_row {
	border-bottom: 1px dotted #ccc;
	padding: .5em .5em 3em .5em;
    margin:auto;
    background-color: #400100;
}

#top_row header {
    position: relative;
    width: 1000px;
    height: 36px; 
    left: 200px;

    /* font-family: 'Baskerville';*/
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    
}

#top_row nav a {
	font-size: 1.125em;
	font-weight:bold;
	padding: 15px;
	color:#FCFAF6;
}

#top_row nav a.selected {
	background: #FFDAD4;
	color: #b6352e;
}

#top_row nav a.selected:hover {
	background: #FFDAD4;
	color: #b6352e;
}

#top_row nav a:hover {
	background: #FFDAD4;
	color: #b6352e;
}

#bottomcontent { 
    border-bottom: 1px dotted #ccc;
	padding: .5em .5em 3em .5em;
    margin:auto;
    background-color: #775651;
    text-align:center;

}

#bottomcontent a {
    color:#FFDAD4;
}

#slogan {
    text-align:center;
    font-family: "Baskerville", Helvetica, Arial, Sans-serif; 
    font-weight:bold;

}


#ourflavors h2{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align: center;
}

#ourflavors p{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    vertical-align: auto;
}

#ourflavors ol li{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    list-style-position:inside;

}

#ourflavors {
    text-align: center;
}

#ourplace h2{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align: center;
}

#ourplace p{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    vertical-align: auto;
}

#ourplace ol li{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    list-style-position:inside;
}

#ourplace {
    text-align:center;
}

#desserts h2{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align: center;
}

#desserts p{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    vertical-align: auto;
}

#desserts ol li{
    font-family: "Arial", Helvetica, Arial, Sans-serif; 
    text-align:center;
    list-style-position:inside;
}

#desserts {
    text-align:center;
} 



#menu h4{
    color:#b6352e;
}

#accordion h4 {
    background-color: #FFDAD4;    
}

#accordion div {
    background:#ffffff;
}

#accordion div div {
    border-bottom:3px dotted rgba(0, 0, 0, 0.23);
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns*/

* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 210px;
    color:#FFDAD4;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
	clear: both;
	font:bold;
	margin: 0;
	padding: 0.5em;
	font-variant: small-caps;
	font-size: 0.813em;
	text-align: center;
	border-top: 1px dotted #cccccc;
}

iframe {
    display:block;
    margin:auto;
    margin-bottom:50px;
}

#gmap {
    border-bottom:solid;
}

.maintitlecontact {
    padding:10px;
    border-bottom:solid;
    text-align:center;
}

#maintitlemenu {
    font-family: "baskerville";
    padding:10px;
    border-bottom:solid;
    border-bottom-color:#b6352e;
    text-align:center;
}

/* CALENDAR Styling :https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_calendar  */

#maintitlecal {
    font-family:"baskerville";
    border-bottom:solid;
    text-align: center;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 20px 25px;
  width: 100%;
  background: #FBE0A6;
  text-align: center;
  border:1px solid black;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #251A00;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  border: 1px solid black

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #251A00;
  text-align: center;
  border:1px solid black;
}

.days {
  padding: 0px 0;
  background: #eee;
  margin: 0px;
  border: 1px solid black;
  height:600px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 15%;
  text-align: center;
  margin-bottom: 0px;
  font-size:12px;
  color: #251A00;
  border: 0.5px solid black;
}

.days li .promotiondays {
  padding: 5px;
  background: #FBE0A6;
  color:#251A00 !important;

}

.days .fake {
    border:none;
}
.promotiondays {
    padding:5px;
    background: #FBE0A6;
    color: #251A00 !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .promotiondays {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* ANIME.JS stylesheet */
.circle {
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:red;
}


/* Slide show W3 Schools : https://www.w3schools.com/howto/howto_js_slideshow.asp*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #b01b1b;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "arial";
  font-weight:bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}